@page
@model IndexModel
@{
    ViewData["Title"] = "Sockets";
}

<div class="text-center">
    <h1 class="display-4">Sockets</h1>
    <component type="typeof(Sockets.Component)" render-mode="Server" />
</div>
