@using System.Net.WebSockets
@using Microsoft.JSInterop
@inject IJSRuntime JS

<div>
    <button @onclick="Send">
        Update heading
    </button>
    @message
</div>


@code {
    [Parameter]
    public EventCallback<Messages.Message> SendWsMessage { get; set; }

    string message = "";

    protected Task Send()
    {
        var message = new Messages.Message("Auth", "GetId");
        return SendWsMessage.InvokeAsync(message);
    }

    public void OnWsMessage(string _message)
    {
        message = _message;
    }
}
