@using System.Net.WebSockets

<div>
</div>


@code {
    [Parameter]
    public EventCallback<string> SendWsMessage { get; set; }

    protected override Task OnInitializedAsync()
    {
        return SendWsMessage.InvokeAsync("test");
    }
}
